<% flash.each do |name, msg| %>
  <% if name == "alert" %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% else %>
    <div class="alert alert-<%= name %>">
      <%= msg %>
    </div>
  <% end %>
<% end %>
